:root {
    --dark-background-image: linear-gradient(to bottom, #0C0E0D 35%, #0d2a09);
    --light-background-image: linear-gradient(to right, #8ec0c2, #87b99c);
    --transition-theme-method: 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 

}
*, :after, :before{
    box-sizing: border-box;
  }
[data-theme="light"] {
    color: black;
    --light-opacity: 1;
    --navbar-background-color: #51a291;
    transition: color var(--transition-theme-method) !important;
    
}

[data-theme="dark"] {

  
    color: white;
    --base-dark-green: #09553d;
    --base-dark-black-green: #053325;
    --base-purple-v1: #B15EFF;
    // --base-light-green: #B15EFF;
    --base-purple-v2: #9D6292;
    --base-dark-green-2: #08A045;
    --base-light-green-2: #6BBF59;
    --base-light-brown: #DDB771;
    --background-login-form-color: black;
    --light-opacity: 0;
    --navbar-background-color: #0C0E0D;
    --navbar-background-color: black;
    --navbar-shadow-color: var(--base-purple-v1);
    --theme-toggler-background-color: #060e2c;
    --login-requirment-lock-color:  var(--base-light-brown);
    --login-form-bcg-color: #222;
    --login-form-input-bcg-color: #333;
    --login-form-txt-color: #aaa;
    --login-form-title-color: var(--base-purple-v1);
    --login-form-change-btn-color: var(--base-purple-v1);
    --login-submit-btn: var(--base-purple-v1);
    --login-submit-border: var(--base-purple-v2);
    --home-page-btn-txt: var(--base-purple-v1);
    --home-page-btn-border: var(--base-purple-v1);
    --form-checkbox-true-bcg: #a5a1a1;
    --form-checkbox-false-bcg: #111010;
    --form-checkbox-inside-bcg: rgb(207, 204, 204);


    
    // --important-button-background-color: #08A045;
    // --less-important-button-background-color: #6BBF59;
    transition: color var(--transition-theme-method) !important;
}
html{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
    
    min-height: 100%;


}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;
    position: relative;
    min-height: 100vh;
    height: 100%;
    

    &:before {
        content: "";
        inset: 0;
        position: absolute;
        z-index: -1;

        transition: opacity var(--transition-theme-method);
        background-image: var(--light-background-image);
        opacity: var(--light-opacity);
    }
}

a{
    &:link, &:visited{
        text-decoration: none;
        outline: none;
        color: white;
    }
}
