[data-theme="light"]{
    --background-login-form-color: black;
    --background-image: linear-gradient(to right, #8ec0c2,  #87b99c);
}
[data-theme="dark"]{
    --background-image: linear-gradient(to right, #040b16,  #1e0425);
    --background-login-form-color: black;
}
body{
    // background-image: var(--background-image);
    &:before{
        opacity: 0;
        inset: 0;
        z-index: -1;
        position: absolute;
        content: '';
    }
    &.light:before{
        transition: opacity 5s;
        background-image: var(--background-image);
        opacity: 1;
        
    }
    &.dark:before{
        transition: opacity 5s;
        background-image: var(--background-image);
        opacity: 1;
    }
}
a
{
    &:link, &:visited{
        outline: none;
        text-decoration: none;
        color: white;
    }

}