@mixin button($width, $height){
    position: relative;
    outline: none;
    border: none;   
    box-sizing: border-box;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    margin: 2rem;
    padding: 1.5rem;
    height: $height;
    width: $width;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    transition: color .3s cubic-bezier(.64,.08,.34,1.41);
    &:hover,&:focus,&:active{
        cursor: pointer;
        color: var(--home-page-btn-txt);
        &:after, &:before{
            border-radius: 10px;    
            height: 100%;
            width: 100%;
            animation: button-clicker 1s infinite;
        }
    }
    // &:after{
    //     transition: all .2s ease-in-out;
    //     background-color: var(--home-page-btn-border);
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     background-color: red;
    //     height: 0;  
    //     border: 3px solid var(--home-page-btn-border);
    //     inset: 100% 0 0 0;
    //     transform-origin: center ;
    //     background: transparent;
    //     border-radius: 20px;
    // }
    &:after, &:before{
        transition: all .3s ease;
        content: '';
        position: absolute;
        width: 25%;
        height: 50%;
    }
    &:after{
        left: 0;
        bottom: 0;
        border-bottom: 3px solid var(--base-purple-v1);
        border-left: 3px solid var(--base-purple-v1);
    }
    &:before{
        right: 0;
        top: 0;
        border-top: 3px solid var(--base-purple-v1);
        border-right: 3px solid var(--base-purple-v1);
    }
    @keyframes button-clicker{
        0% {
            opacity: 0.95;
        }
        25% {
            opacity: 0.85;
        }
        50% {
            opacity: 0.75;
        }
        75% {
            opacity: 0.85;
        }
        100% {
            opacity: 1;
        }
    }
}